.homepage-content {
    background-image: url('/public/images/pexels-photo-8568719.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.welcome {
    color: #ffff;
    height: 50%;
    background: #0000006c;
    border-radius: 15px;
}

.presentation {
    color: #ffff;
    width: 70%;
    height: 50%;
    justify-self: center;
}

.presentation-space {
    background: #0000006c;
}

.grid-estados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.grid-estados .col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.estado-nome {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-estados button {
    margin: 5px;
    width: 180px;
}

header {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.header-spacing {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}