/* 
 * Estilos base do projeto Prevent
 * Os estilos globais principais estão em App.css
 */

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}